
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dang nhap he thong Admin </title>
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <!--pnotify-->
    <link href="~/lib/pnotify/dist/pnotify.brighttheme.css" rel="stylesheet" />
    <link href="~/lib/pnotify/dist/pnotify.history.css" rel="stylesheet" />
    <link href="~/lib/pnotify/dist/pnotify.material.css" rel="stylesheet" />
    <link href="~/lib/pnotify/dist/pnotify.mobile.css" rel="stylesheet" />
    <link href="~/lib/pnotify/dist/pnotify.nonblock.css" rel="stylesheet" />
    <link href="~/lib/pnotify/dist/pnotify.buttons.css" rel="stylesheet" />
    <link href="~/lib/pnotify/dist/pnotify.css" rel="stylesheet" />
 
    @*<link href="~/lib/validator/fv.css" rel="stylesheet" />*@
    <!-- Custom Theme Style -->

    <link href="~/admin-side/css/custom.min.css" rel="stylesheet" />
</head>
<body class="login">
    <div>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form id="frmLogin" novalidate>
                        @Html.AntiForgeryToken()
                        <h1>Dang Nhap</h1>
                        <div>
                            <input type="text" required="required" data-validate-length-range="6" class="form-control" name="username" placeholder="Username" id="txtUserName" />
                        </div>
                        <div>
                            <input type="password" required="required" class="form-control" name="password" placeholder="Password" id="txtPassword" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="#" id="btnLogin">Log in</a>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <script src="~/lib/pnotify/dist/pnotify.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.nonblock.js"></script>
    <script src="~/lib/validator/validator.js"></script>
    @*<script src="~/lib/validator/multifield.js"></script>*@
    <script src="~/app/shared/cuong.js"></script>
    <script src="~/app/controllers/login/index.js"></script>
    <script>
        var login = new loginController();
        login.initialize();
    </script>
</body>
</html>

